<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta name="theme-color" content="">

    <link rel="preload" href="/main.js" as="script">
    <link rel="preload" href="/main.css" as="style" id="main-css">

    <style id="default-style">
      <%= require('!raw-loader!boot/boot.css') %>
    </style>

    <script src="/main.js" defer></script>
    <script>
      // App boot
      (function() {
        <%= require('!!raw-loader!boot/boot.js') %>
        // Not strict mode so `this` is window and okay to include the library
        <%= require('!!raw-loader!boot/loadCSS.js') %>
      }());
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>